.about--container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.about--me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, var(--color-primary), transparent);
    display: grid;
    place-items: center;
}

.about--img {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(-10deg);
}

.about--img:hover {
    border-radius: 2rem;
    transform: rotate(0);
    transition: var(--transition)
}

.about--cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.about--card {
    border-radius: .4rem;   
    border: 1.1rem var(--color-primary);
    background: linear-gradient(var(--color-primary), transparent);
    padding: 2rem;
    text-align: center;
}

.about--card:hover {
    background: 1rem transparent;
    border: 1.3rem var(--color-primary);
    cursor: pointer;
}