.cards {
    background: var(--color-pale);
    border: 1px solid var(--color-pale);
    border-radius: 5%;
    overflow: hidden;
    transition: var(transition);
    height: 525px;
}

.cards:hover {
    border: 1px solid var(--color-primary);
    border-radius: 5%;
    transition: var(transition);
    overflow: hidden;
}

.card--img {
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.card--img:hover {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, .2));
    
}

.card--info {

}

.cards h3 {
    margin: 1.2rem;
    height: 100px;
}

.cards h5 {
    margin: 1.2rem;
}

.btn {
    margin: 0rem 0rem 1.2rem 1rem;
}

/* =============================== MEDIA QUERIES (MEDIUM DEVICES) =============================== */

@media screen and (max-width: 1024px) {
    .card--info {
        text-align: center;
    }

}
