.cards {
    background: var(--color-white);
    border-radius: 1rem;
    overflow: hidden;
    transition: var(transition);
    display: grid;
    grid-template-columns: 50% 35%;
    gap: 2rem;
    /* height: 525px; */
}

.card--img:hover {
    transition: var(transition);
    overflow: hidden;
    cursor: pointer;
    /* background: var(--color-mid); */
}

.card--img {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    margin: 20px 0px 20px 0px;
    /* padding: 1rem;
    margin: 0.5em; */
}

.cards h3 {
    margin: 1.2rem;
}

.cards h5 {
    margin: 1.2rem;
}

.btn--card {
    margin: 0rem 0rem 1.2rem 1rem;
}

/* =============================== MEDIA QUERIES (MEDIUM DEVICES) =============================== */

@media screen and (max-width: 1024px) {
    .cards {
        grid-template-columns: 50% 50%;
    }
}

/* =============================== MEDIA QUERIES (SMALL DEVICES) =============================== */

@media screen and (max-width: 600px) {
    .cards {
        grid-template-columns: 1fr;
    }
    
    .card--info {
        text-align: center;
    }
}