.cards {
    /* background: var(--color-white); */
    border-radius: 1rem;
    overflow: hidden;
    transition: var(transition);
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2rem;
    padding-top: 5rem;
}

.card--img:hover {
    transition: var(transition);
    overflow: hidden;
    cursor: pointer;
    /* background: var(--color-mid); */
}

.card--img {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    margin-top: 30px;
}

.card--info {
    padding: 0 2rem 0 1rem;
}

.card--info h5 {
    color: var(--color-primary);
}

.btn--card {
    margin-right: 15px;
    margin-top: 15px;
}

/* =============================== MEDIA QUERIES (SMALL DEVICES) =============================== */

@media screen and (max-width: 600px) {
    .cards {
        grid-template-columns: 1fr;
    }
    
    .card--info {
        text-align: center;
    }
}