footer {
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    margin-top: 7rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.footer--text {
    margin-right: auto;
}

footer a {
    color: var(--color-white);

}

footer h1 {
    margin-bottom: -2rem;
    color: var(--color-white);
}

footer h1 span {
    margin: 0;
    font-weight: 500;
    line-height: 56px;
    color: var(--color-dark);
}

.footer--social {
    font-size: 2rem;
    padding-top: .5rem;
}

.footer--social :hover {
    color: var(--color-dark);
    margin: auto;
}

.copyright {
    font-family: "Poppins", sans-serif;
    margin-right: auto;
    margin-left: 4rem;
}

.credits {
    margin-left: auto;
    margin-right: 4rem;
    color: var(--color-dark);
}

/* =============================== MEDIA QUERIES (MEDIUM DEVICES) =============================== */

@media screen and (max-width: 1024px) {
    footer {
        margin-top: 0rem;
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
}

/* =============================== MEDIA QUERIES (SMALL DEVICES) =============================== */

@media screen and (max-width: 600px) {
    footer h1 {
        margin-bottom: 0rem;
    }
    
    .footer--social {
        padding-top: .5rem;
        padding-left: 1rem;
    }
    
    .copyright {
        margin-left: .5rem;
    }
    
    .credits {
        margin-right: 0rem;

    }
}