.journey--container {
  display: flex;
}

.journey--content {
    text-align: center;
}

.journey--section {
  display: flex;
  justify-content: center;
  margin: 4rem;
}

.journey--img {
  max-width: 15%;
  border-radius: 5%;
}

.btn--journey {
  margin-right: 15px;
  margin-top: 15px;
}

/* =============================== MEDIA QUERIES (MEDIUM DEVICES) =============================== */

@media screen and (max-width: 1024px) {
  .journey--container {
    gap: 0;
  }

  .journey--content {
    text-align: center;
  }
}

/* =============================== MEDIA QUERIES (SMALL DEVICES) =============================== */

@media screen and (max-width: 600px) {
  .skills--me {
    width: 65%;
    margin: 0 auto 3rem;
  }

  .skills--cards {
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
  }

  .skills--card {
    width: 60%;
  }
}
