.skills--container {
    display: flex;
    gap: 15%;
}

.skills--cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.skills--card {
    background: linear-gradient(var(--color-primary), transparent);
    border: 1px linear-gradient(var(--color-primary), transparent);
    transition: var(--transition);
    padding: .75rem 1.2rem;
    border-radius: .4rem;    
    cursor: pointer;
    width:150px;
}

.skills--card:hover {
    background: transparent;
    border: 1px solid var(--color-primary);
}

.skills--icons {
    color: var(--color-white);
    font-size: 4rem;
    margin-top: 1rem;
}

.skills--card:hover > .skills--icons {
    color: var(--color-primary);
}

.skills--cards p {
    margin: 2rem;
    color: var(--color-dark);
}

.btn--card {
    margin: 0rem 0rem 1.2rem 1rem;
}

/* =============================== MEDIA QUERIES (MEDIUM DEVICES) =============================== */

@media screen and (max-width: 1024px) {
    .skills--container {
        gap: 0;
    }

    .skills--me {
        width: 50%;
        margin: 2rem auto 4rem;
    }
}

.skills--content {
    text-align: center;
}

/* =============================== MEDIA QUERIES (SMALL DEVICES) =============================== */

@media screen and (max-width: 600px) {
    .skills--me {
        width: 65%;
        margin: 0 auto 3rem;
    }

    .skills--cards {
        grid-template-columns:  1fr;
        gap: 1rem;
        justify-items: center;
    }

    .skills--card {
        width: 60%;
    }
}

