#skills {
    background-color: var(--color-pale-varient);
    padding: 4rem 0rem;
}

.skills--badges {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    margin-top: 3rem;
}

.skills--badge {
    max-width: 200px;
}

.skills--container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    margin: 5rem 10rem 0rem 10rem;
}



/* =============================== MEDIA QUERIES (MEDIUM DEVICES) =============================== */

@media screen and (max-width: 1024px) {
    .skills--container {
        gap: 0;
    }

    .skills--badge {
        width: 50%;
        margin: 2rem auto 4rem;
    }
}


/* =============================== MEDIA QUERIES (SMALL DEVICES) =============================== */

@media screen and (max-width: 600px) {

    .skills--badge {
        grid-template-columns:  1fr;
        gap: 1rem;
        justify-items: center;
    }

}

