.testimonial--container {
  width: 50%;
}

.testimonial {
  background-color: var(--color-accent);
  padding: 2rem;
  border-radius: 2rem;
  user-select: none;
  margin-bottom: 5rem;
}

.header {
  display: grid;
  grid-template-columns: 25% 30% 50%;
  align-items: center;
}

.img--grid {
  display: flex;
  justify-content: center;
}

.client--img {
  width: 8rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 0.4rem solid var(--color-primary);
  background-color: var(--color-pale-varient);
}

.client--img:hover {
  border: 0.4rem solid var(--color-pale);
  transition: var(--transition);
}

.client--name {
  color: var(--color-pale-varient);
}

.client--title p {
  color: var(--color-dark);
}

.client--review {
  width: 80%;
  margin: 0.8rem auto 0;
  color: var(--color-dark);
}

.quote--icons-left {
  width: 90%;
  margin: 0.8rem auto 0;
  color: var(--color-primary);
  font-size: x-large;
}

.quote--icons-right {
  text-align: right;
  width: 90%;
  margin: 0.8rem auto 0;
  color: var(--color-primary);
  font-size: x-large;
}

/* =============================== MEDIA QUERIES (MEDIUM DEVICES) =============================== */

@media screen and (max-width: 1024px) {
  .testimonial--container {
    width: 70%;
  }

  .header {
    grid-template-columns: 1fr;
    text-align: center;
    justify-content: center;
  }
}

/* =============================== MEDIA QUERIES (SMALL DEVICES) =============================== */

@media screen and (max-width: 600px) {
  .testimonial--container {
    width: var(--container-width-sm);
  }

  .client--review {
    width: var(--container-width-sm);
  }
}
