.container-left {
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 5%;
    text-align: left;
}

.testimonial--img {
    border-radius: 50%;
}

.testimonial--card {
display: flex;
}

.testimonial {

}

.quote--icons-right {
    text-align: right;
}

/* =============================== MEDIA QUERIES (MEDIUM DEVICES) =============================== */

@media screen and (max-width: 1024px) {
    .container-left {
        grid-template-columns: 1fr;
        gap: 0;
        width: 50%;
        margin: 2rem auto 4rem;
    }
}

.testimonial {
    
}

/* =============================== MEDIA QUERIES (SMALL DEVICES) =============================== */

@media screen and (max-width: 600px) {
    .testimonial {
        width: 65%;
        margin: 0 auto 3rem;
        text-align: center;
    }

}

