.container.testimonial--container {
    width: 40%;
}

.testimonial {
background-color: var(--color-accent);
padding: 2rem;
border-radius: 2rem;
user-select: none;
}

.header {
    display: grid;
    grid-template-columns: 30% 20% 50%;
    align-items: center;
}

.client--name {
    font-weight: bold;
}

.client--img {
    width: 8rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    border: .4rem solid var(--color-primary);
}

.client--title {

}

.client--review {

}

.quote--icons-left {
    text-align: l;
    }

.quote--icons-right {
text-align: right;
}

/* =============================== MEDIA QUERIES (MEDIUM DEVICES) =============================== */

@media screen and (max-width: 1024px) {

}

.testimonial {
    
}

/* =============================== MEDIA QUERIES (SMALL DEVICES) =============================== */

@media screen and (max-width: 600px) {


}

